@model EKE_Admin.Web.ViewModels.HomeVM
@{
    ViewData["Title"] = "Főoldal";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        EKE Gyopár
        <small>Vezérlő panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.GY_Articles</h3>
                    <p>feltöltött cikk</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-list"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.GY_Magazines</h3>
                    <p>feltöltött lapszám</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-photos"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.GY_MediaElements</h3>
                    <p>feltöltött kép</p>
                </div>
                <div class="icon">
                    <i class="ion ion-image"></i>
                </div>
            </div>
        </div><!-- ./col -->
        @*<div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.GY_Orders</h3>
                    <p>kategória</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
            </div>
        </div><!-- ./col -->*@
    </div>
</section>
<!-- /.content -->

<section class="content-header">
    <h1>
        EKE Múzeum
        <small>Vezérlő panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.M_Elements</h3>
                    <p>feltöltött elem</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-crop-strong"></i>
                </div>
            </div>
        </div><!-- ./col -->
        @*<div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.M_Category</h3>
                    <p>kategória</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div><!-- ./col -->*@
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.M_MediaElements</h3>
                    <p>feltöltött kép</p>
                </div>
                <div class="icon">
                    <i class="ion ion-image"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.M_Tags</h3>
                    <p>címke</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-pricetag"></i>
                </div>
            </div>
        </div><!-- ./col -->
    </div>
</section>
<!-- /.content -->