<header id="header" class="static-sticky transparent-header dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a asp-action="Index" asp-controller="Home" data-dark-logo="gyopar/images/logo/gyopar-logo.png" class="standard-logo"><img src="gyopar/images/logo/gyopar-logo.png" alt="Erdélyi Gyopár" class="padding-10"></a>
                <a asp-action="Index" asp-controller="Home" data-dark-logo="gyopar/images/logo/eke.gif" class="retina-logo"><img src="gyopar/images/logo/eke.gif" alt="Erdélyi Gyopár" class="padding-10"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="with-arrows">

                <ul>
                    <li class="current"><a asp-action="Index" asp-controller="Home"><div>Főoldal</div></a></li>
                    <li>
                        <a href="javascript:void(0);"><div>Erdély</div></a>
                        <ul>
                            <li>
                                <a href="javascript:void(0);"><div>1892-1901</div></a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><div>1892-1896</div></a>
                                        <ul>
                                            @for (int i = 1892; i <= 1896; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><div>1897-1901</div></a>
                                        <ul>
                                            @for (int i = 1897; i <= 1901; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><div>1902-1911</div></a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><div>1902-1906</div></a>
                                        <ul>
                                            @for (int i = 1902; i <= 1906; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><div>1907-1911</div></a>
                                        <ul>
                                            @for (int i = 1907; i <= 1911; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><div>1912-1917</div></a>
                                <ul>
                                    @for (int i = 1912; i <= 1917; i++)
                                    {
                                        <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><div>1930-1939</div></a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><div>1930-1934</div></a>
                                        <ul>
                                            @for (int i = 1930; i <= 1934; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><div>1935-1939</div></a>
                                        <ul>
                                            @for (int i = 1935; i <= 1939; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><div>1940-1948</div></a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><div>1940-1943</div></a>
                                        <ul>
                                            @for (int i = 1940; i <= 1943; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><div>1944-1948</div></a>
                                        <ul>
                                            @for (int i = 1944; i <= 1948; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><div>Erdélyi Gyopár</div></a>
                        <ul>
                            <li>
                                <a href="javascript:void(0);"><div>1991-2000</div></a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><div>1991-1995</div></a>
                                        <ul>
                                            @for (int i = 1991; i <= 1995; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><div>1996-2000</div></a>
                                        <ul>
                                            @for (int i = 1996; i <= 2000; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><div>2001-2010</div></a>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><div>2001-2005</div></a>
                                        <ul>
                                            @for (int i = 2001; i <= 2005; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><div>2006-2010</div></a>
                                        <ul>
                                            @for (int i = 2006; i <= 2010; i++)
                                            {
                                                <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><div>2011-@DateTime.Now.Year</div></a>
                                <ul>
                                    @for (int i = 2012; i <= DateTime.Now.Year; i++)
                                    {
                                        <li class="magazineYearSelector"><a href="javascript:void(0);"><i class='fa fa-circle-o-notch fa-spin yearLoading'></i><div>@i</div></a></li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);" onclick="Main.takeMeTo(2)"><div>Impresszum</div></a></li>
                    <li><a href="javascript:void(0);" onclick="Main.takeMeTo(3)"><div>Előfizetés</div></a></li>
                    <li><a href="javascript:void(0);" onclick="Main.takeMeTo(4)"><div>Elérhetőség</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header>