<section id="slider" class="full-screen clearfix" style="background: url(../images/bckgrnd/honlapra3.jpg) center center no-repeat; background-size: cover;" data-height-sm="700">
    <div class="full-screen">
        <div class="vertical-middle" style="z-index: 2;">
            <div class="container clearfix">
                <div class="tabs advanced-real-estate-tabs clearfix">
                    <ul class="tab-nav clearfix">
                        <li><a href="#tab-properties">Keresési paraméterek</a></li>
                    </ul>
                    <div class="tab-container">
                        <div class="tab-content clearfix" id="tab-properties">
                            <div class="row nobottommargin">
                                <div class="col-md-2 col-sm-12 bottommargin-sm">
                                    <label for="" style="display:block;">Típus</label>
                                    <input class="bt-switch" type="checkbox" checked data-on-text="Cikk" data-off-text="Lapszám" data-on-color="themecolor" data-off-color="themecolor" id="objectType">
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 bottommargin-sm">
                                    <label for="">Évszám</label>
                                    <select class="selectpicker form-control" multiple data-size="6" data-live-search="true" data-placeholder="Összes" style="width:100%; line-height: 30px;" id="yearSelected">
                                        @for (int i = 1892; i <= 1917; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }

                                        @for (int i = 1930; i <= 1946; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }

                                        <option value="1948">1948</option>

                                        @for (int i = 1991; i <= DateTime.Now.Year; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 bottommargin-sm">
                                    <label for="">Lapszám</label>
                                    <select class="selectpicker form-control" multiple data-size="6" data-live-search="true" data-placeholder="Összes" style="width:100%; line-height: 30px;" id="magazineSelected">
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 bottommargin-sm">
                                    <label for="">Szerző</label>
                                    <input class="form-control" type="text" style="width:100%; line-height: 30px;" id="author" />
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 bottommargin-sm">
                                    <label for="">Egyéb</label>
                                    <input class="form-control" type="text" style="width:100%; line-height: 30px;" id="otherText" />
                                </div>
                                <div class="clear"></div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <label for="" style="margin-bottom: 20px !important;">Év skála</label>
                                    <input class="price-range-slider" id="yearRange" />
                                </div>
                                <div class="clear visible-xs bottommargin-sm"></div>
                                <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
                                    <label for="" style="margin-bottom: 20px !important;">Hónap skála</label>
                                    <input class="area-range-slider" id="magazineRange" />
                                </div>
                                <div class="col-md-offset-1 col-md-2 col-sm-12 clearfix">
                                    <button type="button" class="button button-3d button-rounded btn-block nomargin searchBtn" id="load" style="margin-top: 35px !important;" onclick="Main.searchMethod()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Keresés...">Keresés</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="video-wrap" style="position: absolute; top: 0; left: 0; height: 100%; z-index:1;">
            <div class="video-overlay" style="background-color: rgba(0,0,0,0.15); z-index: 1;"></div>
        </div>
    </div>
</section>