@model List<EKE.Data.Entities.Gyopar.Magazine>
@{ }


@if (Model != null)
{
    <div class="heading-block">
        <h3>Keresési eredmények</h3>
    </div>

    <div id="posts" class="post-grid grid-container clearfix" data-layout="fitRows">
        @foreach (var item in Model)
        {
            <div class="entry clearfix max-height-435 cursor-pointer" onclick="Main.findMagazine(@item.Id)">
                <div class="entry-image loading-background">
                    <div><img class="image_fade img-responsive" src="@item.MediaElements.FirstOrDefault().OriginalName" alt="Standard Post with Image"></div>
                </div>
                <div class="entry-title min-height-25">
                    <h2> @item.Title </h2>
                </div>
                <ul class="entry-meta clearfix">
                    <li><i class="icon-newspaper"></i> @item.Articles.Count cikk </li>
                    <li><i class="icon-pencil2"></i> @(item.Author != null ? item.Author.Name : "") </li>
                </ul>
            </div>
        }
    </div>
}