@using NonFactors.Mvc.Grid;
@model EKE_Admin.Web.ViewModels.MagazineVM

@{
    ViewData["Title"] = "Lapok kezelése";
}
<link rel="stylesheet" href="~/lib/admin-lte/plugins/select2/select2.css">
<link href="~/css/MVCGrid/mvc-grid.css" rel="stylesheet">
<link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">

@Html.Partial("Layout/_ErrorHandling", TempData["ErrorMessage"])

<div id="responseContent"></div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Lapok kezelése
        <small>Vezérlő panel</small>
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>

<!-- Main content -->
<section class="content edit-magazines">

    <div class="box box-default">
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>1. Kiadvány kiválasztása</label>
                        <div class="input-group">
                            <div class="input-group-addon filter border-left-radius-10">
                                <i class="fa fa-times"></i>
                            </div>
                            <select class="form-control select2 mName" style="width: 100%;" disabled="disabled">
                                <option value="@(Model.MagazineCategories.Count > 0 ? Model.MagazineCategories.FirstOrDefault().Id : 0)" selected="selected">@(Model.MagazineCategories.Count > 0 ? Model.MagazineCategories.FirstOrDefault().Name : "-")</option>
                                @if (Model.MagazineCategories.Count > 1)
                                {
                                    foreach (var item in Model.MagazineCategories.Skip(1))
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>2. Évfolyam kiválasztása</label>
                        <div class="input-group">
                            <div class="input-group-addon filter border-left-radius-10 no-click noYear">
                                <i class="fa fa-times"></i>
                            </div>
                            <select class="form-control select2 mYear" style="width: 100%;" disabled="disabled">
                                @foreach(var year in Model.Magazines.OrderBy(x=>x.PublishYear).Select(x=>x.PublishYear).Distinct())
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>3. Szám kiválasztása</label>
                        <div class="input-group">
                            <div class="input-group-addon filter border-left-radius-10 no-click noSection">
                                <i class="fa fa-times"></i>
                            </div>
                            <select class="form-control select2 mNumber" style="width: 100%;" disabled="disabled">
                                <option selected="selected">1</option>
                                @for (int i = 2; i <= 6; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-2">
                    <div class="form-group">
                        <label>Kulcsszavak alapján</label>
                        <div class="input-group">
                            <select name="ArticleTags" class="form-control select2" multiple="multiple" data-placeholder="Kulcsszavak kiválsztása" style="width: 100%;">
                                @foreach (var item in Model.Tags)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <div class="input-group-addon">
                                <i class="fa fa-caret-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Szöveg alapján</label>
                        <div class="input-group">
                            <input type="text" class="form-control" />
                            <div class="input-group-addon">
                                <i class="fa fa-caret-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-block btn-social btn-bitbucket" style="display:none;">
                <i class="fa fa-plus"></i> Cikk hozzáadása
            </a>
        </div>
    </div>

    <div class="add-article">
    </div>

    <div class="article-grid" style="min-height:250px;">
        @Html.AjaxGrid(Url.Action("ArticleGrid", "Magazine"))
    </div>
</section>
<!-- /.content -->
@section scripts{
    <script src="~/lib/admin-lte/plugins/select2/select2.full.js"></script>
    <script src="~/js/MVCGrid/mvc-grid.js"></script>
    <script src="~/js/Magazine/main.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/locales/hu.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            Magazine.init();
        });
    </script>
}