@{
    ViewData["Title"] = "Főoldal";
}

@*@Html.Partial("_MagazineSearch")*@

<div class="content-wrap">

    <div class="container clearfix">

        <div class="searchResults">
        </div>

        <div class="paginationResults">
            <ul class="pagination" id="pagination-search"></ul>
        </div>

        <div class="articleList">
        </div>

        <div class="article">
        </div>

        <div class="selectedArticles">
            @Html.Partial("Partials/_SelectedArticles")
        </div>

        <div class="lastMagazines">
            @Html.Partial("Partials/_LastMagazines")
        </div>

        <div class="clear"></div>

        @Html.Partial("Partials/_AdsPanel")

        @Html.Partial("Partials/_OtherMagazines")

    </div>

    <div class="row norightmargin topmargin bottommargin-lg common-height contact">
        <div id="headquarters-map" class="col-md-5 gmap hidden-xs"></div>
        <div class="col-md-3" style="background-color: #E5E5E5;">
            <div style="padding: 40px;">
                <h4 class="font-body t600 ls1">Elérhetőségek</h4>

                <div style="font-size: 15px; line-height: 1.7;">
                    <address style="line-height: 1.7;">
                        <strong>Székhely</strong><br>
                        400114, Kolozsvár<br>
                        Memorandumului u. 6. szám, 9. ajtó<br><br>
                        <abbr title="Telefonszámok: "><strong>Telefonszámok:</strong></abbr><br /> 0745 601 641 – Balázs Katalin <br /> 0746 049 696 – Deák László <br /> 0723 159 000 – Veres Ágnes<br>
                        <abbr title="Email cím"><strong>Email:</strong></abbr> eke@eke.ma
                    </address>

                    <div class="clear topmargin-sm"></div>

                    <h4 class="font-body t500" style="font-size: 17px; margin-bottom: 10px;">Postacím:</h4>

                    S.C.A., O. P. 1, C. P. 41<br>
                    400750 Kolozsvár (Cluj), RO<br>
                </div>
            </div>
        </div>
        @Html.Partial("Partials/_Order")
    </div>

    @Html.Partial("Partials/_Tabs")
</div>

@section scripts {
    <environment names="Development,Staging,Production">
        @*<script src="~/js/magazine-search.js" asp-append-version="true"></script>*@

        <script src="~/js/pages/main.js" asp-append-version="true"></script>
        <script type="text/javascript">
            Main.init();
        </script>
    </environment>
}