@{
    ViewData["Title"] = "Főoldal";
}

@*@Html.Partial("_MagazineSearch")*@

<div class="content-wrap">

    <div class="container clearfix">
        
        <div class="searchResults">
        </div>

        <div class="articleList">
        </div>

        <div class="article">
        </div>

        <div class="selectedArticles">
            @Html.Partial("Partials/_SelectedArticles")
        </div>

        <div class="lastMagazines">
            @Html.Partial("Partials/_LastMagazines")
        </div>

        <div class="clear"></div>

        @Html.Partial("Partials/_AdsPanel")

        @Html.Partial("Partials/_OtherMagazines")

    </div>

    <div class="row norightmargin topmargin bottommargin-lg common-height">
        <div id="headquarters-map" class="col-md-5 gmap hidden-xs"></div>
        <div class="col-md-3" style="background-color: #E5E5E5;">
            <div style="padding: 40px;">
                <h4 class="font-body t600 ls1">Elérhetőségek</h4>

                <div style="font-size: 15px; line-height: 1.7;">
                    <address style="line-height: 1.7;">
                        <strong>North America:</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107.<br><br>
                        <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                        <abbr title="Email Address"><strong>Email:</strong></abbr> real-estate@canvas.com
                    </address>

                    <div class="clear topmargin-sm"></div>

                    <h4 class="font-body t500" style="font-size: 17px; margin-bottom: 10px;">Working Hours:</h4>

                    <abbr title="Mondays to Fridays"><strong>Mon-Fri:</strong></abbr> 10AM to 6PM<br>
                    <abbr title="Saturday"><strong>Saturday:</strong></abbr> 11AM to 3PM<br>
                    <abbr title="Sunday"><strong>Sunday:</strong></abbr> Closed
                </div>
            </div>
        </div>
        @Html.Partial("Partials/_Order")
    </div>

    @Html.Partial("Partials/_Tabs")
</div>

@section scripts {
    <environment names="Development,Staging,Production">
        @*<script src="~/js/magazine-search.js" asp-append-version="true"></script>*@

        <script src="~/js/pages/main.js" asp-append-version="true"></script>
        <script type="text/javascript">
            Main.init();
        </script>
    </environment>
}