<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img class="img-responsive" src="~/images/logo/eke.gif" />
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Keresés...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            @if (User.IsInRole("superadmin"))
            {
                @Html.Partial("Layout/Sidebar/_Superadmin")
                <li class="header">EKE - Gyopár</li>
                @Html.Partial("Layout/Sidebar/_Gyopar")
                @Html.Partial("Layout/Sidebar/_Order")
                <li class="header">EKE - Múzeum</li>
                @Html.Partial("Layout/Sidebar/_Museum")
                @Html.Partial("Layout/Sidebar/_Tools")
            }

            @if (User.IsInRole("gyopar"))
            {
                <li class="header">EKE - Gyopár</li>
                @Html.Partial("Layout/Sidebar/_Gyopar")
                @Html.Partial("Layout/Sidebar/_Order")
            }

            @if (User.IsInRole("elorendel"))
            {
                <li class="header">EKE - Gyopár</li>
                @Html.Partial("Layout/Sidebar/_Order")
            }

            @if (User.IsInRole("muzeum"))
            {
                <li class="header">EKE - Múzeum</li>
                @Html.Partial("Layout/Sidebar/_Museum")
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
